
.wrapper{
    display: flex;
    position: relative;
    font-family: 'Roboto', sans-serif;
    height: auto;
}

.wrapper .sidebar{
    background: linear-gradient(0deg, rgba(10, 41, 12, 0.7), rgba(10, 41, 12, 0.7)), url("../../asset/img/Picture27.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: left;
    width: 30%;
    height: 100%;
    padding: 30px 0px;
    position: fixed;
}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar .img-logo-login{
    width: 130px;
    height: auto;
    display: block;
    margin: 120px auto 10px auto;
}

.wrapper .sidebar p{
    width: 300px;
    height: auto;
    color: #fff;
    align-items: center;
    margin: 0 auto;
    display: block;
    font-weight: 100;
    line-height: 1.7;
}

.wrapper .sidebar p span{
    font-weight: 700;
}


.wrapper .main_content{
    width: 100%;
    margin-left: 40%;
}

.wrapper .main_content .h1-login{
    width: auto;
    height: auto;
    display: block;
    margin: 130px auto 55px auto;
    color: #46b54c;
    font-weight: bold;
}

.wrapper .main_content .login-form {
    width: 70%;
}

.wrapper .main_content .login-form .login-label{
    font-weight: 900;
    color: #f9a932;
    margin-top: 20px;
}

.wrapper .main_content .login-form .input-login{
    font-weight: 100;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    margin: 10px 0 30px 0;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.wrapper .main_content .form-check {
    display: flex;
}

.wrapper .main_content .form-check .checkbox-remember{
    height: 20px;
    border: #333;
}

.wrapper .main_content .form-check .label-remember{
    margin-left: 2%;
    color: #3a3434;
}
.wrapper .main_content .form-check .a-help{
    margin-left: 10%;
    text-decoration: none;
    color: #3a3434;
}

.wrapper .main_content .form-check .a-forget-pass:hover{
    color: #000000;
}

.wrapper .main_content .signin {
    width: 100%;
}

.wrapper .main_content .signin .btn-signin{
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-top: 5%;
    margin-left: 30%;
    display: inline-block;
    background-color: #f9aa32;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 5px 42px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.wrapper .main_content .signin .btn-signin:hover{
    background-color: #d88913;
}

.loading{
    margin: 20% 0 0 30%;
}

.error-login {
    height: fit-content;
    width: fit-content;
    color:red;
    font-weight: 700;
    border-radius: 5px;
    padding-bottom: 15px;
    margin-bottom: 12px;
    font-size: 16px;
}

.loader-login {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid#46b54c;
    width: 25px;
    height: 25px;
    padding: 0 4%;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite; /* Safari */
}
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width: 768px){
    .wrapper .sidebar{
    display: none;
    }

    .wrapper .main_content {
        width: 100%;
        margin-left: 20%;
    }
}

@media (max-width: 425px){
    .wrapper .main_content .signin .btn-signin{
        margin-left: 15%;
    }

}

.margin-right-3{
    margin-right: 3%;
}


