.membership-exam{
    margin-left: 18%;
    padding: 3% 0 2% 2%;
    height: fit-content;
    font-family: 'Roboto', sans-serif;
}

.membership-exam h1{
    margin: 3% 0 2% 0;
    font-size: 40px;
    color: #3dbf45;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.membership-exam p{
    font-size: 18px;
    width: 88%;
    margin: 2% 0;
}

.membership-exam h2{
    margin: 2% 0 2% 0;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

h3{
    font-family: 'Roboto', sans-serif;
    margin: 1% 0;
}
.button-exam.mobile  {
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    background-color: #f9aa32;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 0px 55px;
    text-transform: capitalize;
    margin-left: 79%;
    cursor: pointer;
}

.button-gray.mobile  {
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    background-color: gray;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 0px 55px;
    text-transform: capitalize;
    margin-left: 79%;
}

.position-right{
    height: fit-content;
    padding-bottom: 2%;
}

.position-right p{
    height: 0;
}

.loading{
    margin: 20% 0 0 45%;
    display: flex;
}

.loader-main-menu {
    border: 7px solid #d6d6d6;
    border-radius: 50%;
    border-top: 7px solid#46b54c;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.margin-right-3{
    margin-right: 3%;
}


@media (max-width:1025px) {
    .membership-exam{
        margin-top: 10%;
    }

}

@media (max-width: 768px){

    .button-exam.mobile {
        margin-left: 60%;
    }

    .position-right .button-gray {
        margin-left: 60% ;
    }
}

@media (max-width: 425px){
    .membership-exam h1 {
        margin: 3% 0 3% 0;
    }

    .membership-exam p{
        margin: 5% 0;
    }

    .membership-exam{
        padding: 0;
    }

    .button-exam.mobile {
        margin-left: 40%;
    }

    .button-exam.mobile {
        margin-left: 45%;
    }
    .button-gray.mobile  {
        padding: 0px 40px;
    }

    .position-right .button-gray {
        margin-left: 40% ;
    }
}
