.main-certificate{
    height: fit-content;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-top: 7%;
}

.main-certificate h2{
    margin: 3% 25% 1% 25%;
    font-size: 40px;
    color: #3dbf45;
    font-family: 'Roboto Condensed', sans-serif;
}

.info-certificate{
    display: flex;
    margin-left: 25%;
}

.main-certificate .identity{
    display: inline-grid;
    margin-right: 20%;
}

.component-certificate1{
    font-size: 20px;
    margin: 25% 0 0 0;
    height: fit-content;
}

.component-certificate{
    font-size: 20px;
    height: fit-content;
    text-transform: capitalize;
}

.link-certificate1{
    display: flex;
    font-size: 20px;
    margin: 35% 0 0 0;
    color: #ffb113;
}

.link-certificate{
    display: flex;
    font-size: 20px;
    height: fit-content;
    color: #ffb113;
}

@media (max-width: 768px) {
    .main-certificate{
        margin-top: 18%;
    }

    .main-certificate h2 {
        margin: 3% 20% 1% 20%;
    }

    .info-certificate{
        margin-left: 20%;
    }
    
}


@media (max-width: 425px) {

    .main-certificate {
        margin-top: 25%;
    }

    .main-certificate h2 {
        margin: 3% 6% 1% 6%;
    }

    .info-certificate {
        margin-left: 6%;
    }

    .main-certificate .identity {
        margin-right: 8%;
    }
}