.result-score {
    padding-top: 5%;
    padding-left: 20%;
    height: -moz-fit-content;
    height: fit-content;
    list-style: none;
}

.result-score h1{
    margin: 4% 0 1% 0;
    color: #3dbf45;
    font-size: 40px;
    width: 65%;
}

.result-score h2{
    margin: 2% 0 1% 0;
    font-size: 30px;
    color: #ffb113;
}

.result-score p{
    margin: 2% 0 1% 0;
    font-size: 18px;
}

.btn-back{
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 2% 0 0 0;
    display: inline-block;
    background-color: #f9aa32;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 0px 45px;
    text-transform: capitalize;
}

@media (max-width:768px) {
    .result-score{
        padding-left: 25%;
        padding-top: 10%;
    }
}

@media (max-width:425px) {
    .result-score{
        margin: 19% 0 0 0;
        padding: 0 5%;
    }

    .result-score h1 {
        margin: 4% 0 5% 0;
        font-size: 30px;
    }

    .result-score h2 {
        font-size: 25px;
    }
}


