@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap');

*{
    margin: 0;
    /*nanti ini di uncomment dulu*/
    height: 100%;
}
#main-page {
    background: linear-gradient(0deg, rgba(10, 41, 12, 0.7), rgba(10, 41, 12, 0.7)), url("../../asset/img/Picture27.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header{
    position: relative;
    height:100%;
    justify-content: center;
    align-items: center;
}

.img-logo-home {
    position: absolute;
    top: 15%;
    left: 43%;
    margin-left: auto;
    margin-right: auto;
    width: 164px;
    height: 158px;
}

.header-name {
    position: absolute;
    top: 43%;
    left: 12%;
    width: 72%;
    height: auto;
    font-family: 'Spartan', sans-serif;
    font-size: 55px;
    margin: 0;
    letter-spacing: -3px;
    color: #fff;
    text-align: center;
}

.button-kuning {
    position: absolute;
    height: 45px;
    top: 70%;
    left: 43%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
    display: inline-block;
    background-color: #f9aa32;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 0px 55px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.button-kuning:hover {
    background-color: #d88913;
}

@media (max-width: 768px) {
    .img-logo-home {
        top: 13%;
        left: 43%;
        width: 154px;
        height: 154px;
    }
    
    .header-name {
        top: 43%;
        left: 15%;
        width: 72%;
        height: auto;
    }
    
    .button-kuning {
        height: 45px;
        top: 70%;
        left: 42%;
    }
    
}

@media (max-width: 425px){
    .img-logo-home {
        left: 42%;
        width: 70px;
        height: 71px;
    }
    
    .header-name {
        left: 14%;
        width: 72%;
        font-size: 32px;
    }
    
    .button-kuning {
        left: 30%;
    }

}