.main-topic{
  width: 100%;
  height: fit-content;
  margin-top: 2%;
}

.topic-content{
    height: fit-content;
    margin: 10% 12% 0 12%;
    padding-bottom: 5%;
}

.topic-content h1{
  margin-left: 1%;
  color: #ffb113;
  font-size: 45px;
  margin-bottom: 45px;
  font-family: 'Roboto Condensed', sans-serif;
}

.card {
  --card-gradient: rgba(0, 0, 0, 0.8);
  --card-gradient: #5e9ad9, #e271ad;
  --card-blend-mode: overlay;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgb(0 0 0 / 45%);
  padding-bottom: 1rem;
  /* background-image: linear-gradient(var(--card-gradient), white max(9.5rem, 27vh)); */
  overflow: hidden;
}

.card:hover {
  background-color: rgba(214, 214, 214, 0.363);
  cursor: pointer;
}

.card img {
  border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 240px;
  /* mix-blend-mode: var(--card-blend-mode); */
}


.card img ~ * {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card > :last-child {
  margin-bottom: 0;
}
.card:hover, .card:focus-within {
  --card-gradient: #24a9d5 max(8.5rem, 20vh);
}

.card h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.card a {
  color: inherit;
    text-decoration: none;
    font-size: 16px;
}

.card-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
    grid-gap: 1.5rem;
    max-width: 100vw;
    /* width: 88%; */
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width:425px) {

  .topic-content h1{
    font-size: 36px;
  }

  .topic-content p{
    font-size: 15px;
  }

  .main-topic{
    margin-top: 20%;
  }

  .topic-content {
    height: -moz-fit-content;
    height: fit-content;
    margin: 4% 10% 0 10%;
    padding-bottom: 5%;
  }

}