
.main-menu{
    z-index: -1;
    overflow: hidden;
    margin-top: 2%;
}
.container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 2% 7% 0 7%;
    height: fit-content;
    padding-bottom: 30px;
}

.h1-main-menu{
    height: auto;
    width: auto;
    margin: 5% 0 1% 8%;
    font-size: 45px;
    color: #ffb113;
    text-transform: capitalize;
}
.h2-main-menu{
    height: auto;
    width: auto;
    font-size: 30px;
    margin: 0 0 1% 8%;
    color: #3dbf45;
    text-transform: capitalize;
}

.border-container {
    text-align: center;
    width: 25%;
    height: fit-content;
}

.border-box {
    height: 300px;
    border: 10px solid #f9aa32;
    margin: 10px 33px;
    border-radius: 25px;
    padding: 50px 21px 0 21px;
}

.tema{
    height: auto;
    width: auto;
    font-size: 18px;
    margin-bottom: 20px;
}

.container .border-box p{
    text-align: justify;
}

.container .border-container .button-yellow {
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-top: 5%;
    display: inline-block;
    background-color: #f9aa32;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 5px 42px;
    text-transform: capitalize;
}

.container .border-container .button-coming {
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-top: 5%;
    display: inline-block;
    background-color: gray;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 5px 42px;
    text-transform: capitalize;
}

.button-gray:hover {
    cursor: pointer;
}

.button-yellow:hover {
    cursor: pointer;
}

.coming{
    color: grey;
    background: #80808038;
    border: 10px solid grey;
}

.loading{
    margin: 25% 0 0 40%;
    display: flex;
}

.loader-main-menu {
    border: 7px solid #d6d6d6;
    border-radius: 50%;
    border-top: 7px solid#46b54c;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width:768px) {

    .main-menu{
        overflow: visible;
        margin-top: 20%;
        height: fit-content;
        z-index: -1;
    }

    .container{
        display: block;
        position: unset;
        flex-direction: column;
        margin: 6% 23% 0 23%;
    }

    .border-container{
        width: 100%;
    }
    
    .tema{
        font-size: 25px;
    }

    .border-box{
        height: 300px;
        margin-top: 15%;
    }

    .border-box p{
        font-size: 22px;
    }

    .container .border-container .button-yellow {
        height: 42px;
        font-size: 18px;
    }
    .container .border-container .button-coming {
        height: 42px;
        font-size: 18px;
    }
    
}

@media (max-width:425px) {
    .h1-main-menu{
        font-size: 35px;
        margin: 5% 0 1% 5%;
    }

    .h2-main-menu{
        font-size: 22px;
        margin: 5% 0 1% 5%;
    }

    .border-box{
        height: 320px;
    }

    .container{
        margin: 6% 6% 0 6%;
        position: unset;
    }

    .border-container{
        width: 100%;
    }
    
    .tema{
        font-size: 21px;
    }

    .border-box p{
        font-size: 18px;
    }

    .loading{
        margin: 20% 0 0 0;
        display: flex;
        font-size: 18px;
        width: fit-content;
    }
    
    .loader-main-menu {
        border: 5px solid #d6d6d6;
        border-radius: 50%;
        border-top: 5px solid#46b54c;
        width: 25px;
        height: 25px;
        animation: spin 1s linear infinite;
        -webkit-animation: spin 1s linear infinite;
    }


}


