.topnav {
    font-family: 'Roboto', sans-serif;
    height: -moz-fit-content;
    height: fit-content;
    background-color: rgb(10, 41, 12);
    position: fixed;
    margin: auto;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

.navigation{
  display: flex;
  justify-content: flex-end;
}

.image-nav {
  position: absolute;
  left: 2%;
  cursor: pointer;
  width: 45px;
  height: 45px;
  top: 5%
}

  
.topnav a {
  float: left;
  color: #ffb113;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.topnav a:hover {
    background-color: #ffb113;
    color: white;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: 500;
    color: #ffb113;
    padding: 20px 16px;
    background-color: inherit;
    font-family: 'Roboto', sans-serif; 
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ffb113;
    color: white;
  }

.dropdown-content {
    height: fit-content;
    display: none;
    position: absolute;
    background-color: #0a290c;
    width: 111px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: #feb113;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(253, 186, 0, 0.603);
}   

.dropdown:hover .dropdown-content {
    display: block;
}

.btn-nav{
  display: none;
}

@media (max-width:425px) {

  .topnav{
    height: 8%;
    z-index: 1;
  }

  .navigation{
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 1;
    position: fixed;
    background: #0a290c;
    width: 35%;
    right: 0;
  }

  .topnav a{
    height: fit-content;
    width: 100%;
    text-align: left;
  }

  .dropdown-content{
    width: 100%;
  }

  .image-nav {
    left: 45%;
    top: 5%;
  }

  .btn-nav{
    background: url(../../asset/img/user-menu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    display: block;
    width: 15%;
    height: 50%;
    padding: 3px;
    margin: 4% 0 2% 82%;
    border: none;
  }

  .dropdown {
    width: 100%;
  }
  
  .dropdown .dropbtn {
    height: fit-content;
    width: 100%;
    text-align: inherit;
  }
.dropdown-content a {
  width: 100%;
}

}

