.main-modul{
    margin-left: 18%;
    font-family: 'Roboto', sans-serif;
    height: fit-content;
    padding-bottom: 3%;
    margin-top: 7%;
}

.main-modul h1{
    padding-bottom: 2%;
}

.main-modul h1{
    font-size: 40px;
    color: #ffb113;
    margin: 3% 0 1% 5%;
    font-family: 'Roboto Condensed', sans-serif;
}

.main-modul h2{
    font-size: 30px;
    color: #3dbf45;
    margin: 0 0 1% 5%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
}

.main-modul p{
    font-size: 18px;
    margin: 0 0 5% 5%;
    width: 85%;
    line-height: 1.4;
}

.main-modul .desc-topic{
    margin: 0 0 2% 5%;
}

.main-modul .list-topic{
    margin: 0 0 0 2%;
    list-style: none;
}

.main-modul .topic{
    margin: 3% 0;
    font-size: 16px;
}

.main-modul button{
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    background-color: #f9aa32;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 0px 55px;
    text-transform: capitalize;
    margin-left: 70%;
}

.main-modul button:hover{
    background-color: #c0b9ae;
    cursor: pointer;
}

@media (max-width:1025px) {
    .main-modul {
        margin-top: 10%;
    }

}

@media (max-width:768px) {

    .main-modul {
        margin-left: 19%;
        margin-top: 10%;
    }
    .main-modul p {
        width: 87%;
    }

    .main-modul button {
        margin-left: 58%;
    }
}

@media (max-width:425px) {
    .main-modul {
        margin: 19% 0 0 0;
        padding: 2%;
    }

    .main-modul .list-topic {
        margin: 0;
    }

    .main-modul button{
        height: 45px;
        font-size: 20px;
        padding: 0px 25px;
        text-transform: capitalize;
        margin-left: 52%;
    }
    
}

