
.module {
    margin-left: 20%;
    margin-top: 5%;
    height: fit-content;
    width: 80%;
}

.module h1{
    font-size: 32px;
    margin: 1.2% 0;
    color: #16b921;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 799px;
    max-width: 800px;
}

.module iframe{
    width: 98%;
    height: 750px;
}

.module .content-module{
    height: fit-content;
    padding: 1% 0 2% 0;
    display: -webkit-inline-box;
    
}
.module .content-module2{
    display: grid;
    height: fit-content;
    padding: 1% 0 2% 0;
}


.module .note{
    width: 98%;
    height: 100%;
    resize: none;
}

.module .btn-complete{
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    display: inline-block;
    background-color: #f9aa32;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 0px 45px;
    text-transform: capitalize;
    width: fit-content;
}

.margin-left-btn{
    margin-left: 50%;
    margin-top: 1%;
}

.margin-top-2{
    margin-top: 2%;
}


.module .btn-complete:hover{
    background-color: #e78d06;
    cursor: pointer;
}


.module .btn-yellow{
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    display: inline-block;
    background-color: #f9aa32;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 0px 29px;
    text-transform: capitalize;
    width: fit-content;
}

.module .btn-gray{
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    display: inline-block;
    background-color: silver;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 0px 29px;
    text-transform: capitalize;
    width: fit-content;
}

.module .btn-yellow:hover{
    background-color: #e78d06;
    cursor: pointer;
}

@media (max-width:1440px) {

    .module h1{
        min-width: 560px;
        max-width: 560px;
    }

}

@media (max-width:1366px) {

    .module h1{
        min-width: 510px;
        max-width: 510px;
    }

}

@media (max-width:1280px) {

    .module h1{
        min-width: 595px;
        max-width: 595px;
    }
    .margin-left-btn {
        margin-left: 30%;
    }
    

}



@media (max-width:1025px) {
    .module {
        display: inherit;
        margin-left: 20%;
        margin-top: 9%;
        height: -moz-fit-content;
        height: fit-content;
    }
    .margin-left-100 {
        margin-left: 30%;
    }

    .module iframe{
        width: 98%;
        height: 500px;
    }

    .module h1 {
        margin-right: 0;
    }

    .margin-left-btn {
        margin-left: 15%;
    }
}

@media (max-width:768px) {

    .module {
        display: inherit;
        margin-left: 21%;
        margin-top: 9%;
        height: -moz-fit-content;
        height: fit-content;
        width: fit-content;
    }
    .margin-left-btn {
        margin-left: 10%;
    }

    .module iframe{
        height: 300px;
    }

    .module h1 {
        margin-right: 0;
        min-width: 350px;
        max-width: 350px;
    }
}


@media (max-width:425px) {
    .module {
        width: 100%;
        margin: 19% 0 0 0;
        padding: 0 2%;
        z-index: 0;
    }
    .module .content-module {
        display: block;
    }

    .module h1{
        margin-bottom: 3%;
    }

    .margin-left-btn{
        margin: 0;
    }
    
}

