.main-profile{
    height: fit-content;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-top: 7%;
}

.main-profile h2{
    margin: 3% 25% 3% 25%;
    font-size: 40px;
    color: #3dbf45;
    font-family: 'Roboto Condensed', sans-serif;
}

.info-profile{
    display: flex;
    margin-left: 25%;
}

.main-profile .identity{
    display: inline-grid;
    margin-right: 20%;
}

.main-profile .identity-value {
    display: inline-block;
}

.component-profile{
    font-size: 20px;
    font-weight: 700;
    margin: 12% 0;
    height: fit-content;
}

.main-profile .value-profile{
    display: flex;
    font-size: 20px;
    margin: 6% 0 12% 0;
    padding: 0 0 4% 0;
    height: -moz-fit-content;
    height: fit-content;
}

.loading{
    margin: 20% 0 0 30%;
    display: flex;
}

.loader-main-menu {
    border: 7px solid #d6d6d6;
    border-radius: 50%;
    border-top: 7px solid#46b54c;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.margin-right-3{
    margin-right: 3%;
}

@media (max-width: 768px) {

    .main-profile{
        margin-top: 14%;
    }
    
    .main-profile h2{
        margin: 3% 15% 3% 15%;
    }

    .info-profile{
        margin-left: 15%;
    }


    .loading{
        margin: 50% 0 0 12%;
        display: flex;
    }
    
}

@media (max-width: 425px) {
    
    .main-profile{
        margin-top: 25%;
    }
    
    .main-profile h2{
        margin: 3% 10% 3% 10%;
    }

    .info-profile{
        width: fit-content;
        margin-left: 10%;
    }

    .main-profile .identity{
        margin-right: 5%;
    }

    .loading{
        margin: 50% 0 0 12%;
        display: flex;
    }
}



