::-webkit-scrollbar {
  display: none;
}

.side-load{
  color: #fff;
  font-weight: 700;
  margin: 1% 0 0 10%;
}

.sidenav {
  top: 55px;
  position: fixed;
  height: 100%;
  width: 18%;
  background-color: #0a290c;
  padding: 20px 0 50px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  overflow: visible;
  overflow-y: scroll;
    
}

.sidenav a {
    height: fit-content;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
}

.sidenav .done-content {
  height: fit-content;
  padding: 15px 8px 15px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #e78d05;
  display: block;
}

.sidenav .disable {
  height: fit-content;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: silver;
  display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
    background: #e78d05;
}

.sidenav .disable:hover{
  color: silver;
}

.btn-sidenav{
  display: none;
}

.scroll-modul{
  display: block;
  height: fit-content;
  padding-bottom: 10%;
}

@media (max-width:1025px) {
  .sidenav a{
    font-size: 20px;
  }
}

@media (max-width: 768px){
  .sidenav {
    width: 20%;
  }

  .sidenav a{
    font-size: 20px;
  }
}
  
@media (max-width: 425px) {

  .sidenav {
    flex-direction: column;
    height: -moz-fit-content;
    height: 100%;
    z-index: 2;
    position: fixed;
    background: #0a290c;
    width: 70%;
    left: 0;
    top: 7%;
    overflow: visible;
  }

  .scroll-modul{
    display: block;
    height: 100%;
    overflow: visible;
    overflow-y: scroll;
  }

  .sidenav .done-content {
    font-size: 18px;
  }

  .sidenav a {
    font-size: 18px;
  }

  .btn-sidenav{
    background: url(../../asset/img/nav-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    display: block;
    width: 40px;
    height: 30px;
    padding: 5px;
    margin: -15% 0 2% 5%;
    border: none;
    position: fixed;
    z-index: 2;
  }

  
}