/* ============================================================================================ */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #3a3434;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
