.loading{
  margin: 25% 0 0 42%;
  display: flex;
}

.question-header{
  padding-top: 5%;
  padding-left: 20%;
  height: fit-content;
}


.question {
  padding-left: 20%;
  height: -moz-fit-content;
  height: fit-content;
  list-style: none;
}
.question-header h2{
    margin: 2% 0 1% 0;
    font-size: 35px;
    color: #3dbf45;
}

.question h4{
  margin: 3% 0 0.5% 0;
  font-weight: 100;
}

.view-results{
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 2%;
    display: inline-block;
    background-color: #f9aa32;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 0px 45px;
    text-transform: capitalize;
    margin-left: 75%;
}

.btn-gray {
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 2%;
    display: inline-block;
    background-color: silver;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 0px 45px;
    text-transform: capitalize;
}

.margin-left-btn-exam{
  margin-left: 75%;
}


.radio-choices{
  height: fit-content;
  margin-right: 15px;
}

.choices {
    list-style-type: none;
    padding: 0;
  }
  
  .choices li {
    margin-bottom: 5px;
  }
  
  .choices label {
    display: flex;
    align-items: center;
  }
  
  .choices label,
  input[type="radio"] {
    cursor: pointer;
  }
  
  input[type="radio"] {
    margin-right: 8px;
  }

  .list-unstyled{
    list-style: none;
    padding: 0;
  }

  .time{
    background: #ffb113;
    color: #0a290c;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 700;
    border: 1px solid #fff0;
    padding: 10px 55px;
    font-size: 40px;
    position: absolute;
    top: 13%;
    left: 76%;
  }

  .modal-h2{
    height: fit-content;
    overflow: hidden;
    margin-bottom: 4%;
  }

  .btn-modal{
    font-size: 15px;
    height: 35px;
    width: 200px;
    background-color: #f9aa32;
    border: none;
    color: #fff;
    border-radius: 30px;
    font-weight: 700;
}


  .loader-main-menu {
    border: 7px solid #d6d6d6;
    border-radius: 50%;
    border-top: 7px solid#46b54c;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width:1440px) {
  .loading{
    margin: 25% 0 0 40%;
    display: flex;
  }
}



@media (max-width:1366px) {
  .loading{
    margin: 23% 0 0 40%;
    display: flex;
  }
}

@media (max-width:1280px) {
  .loading{
    margin: 22% 0 0 35%;
    display: flex;
  }
}


@media (max-width:1025px) {

  .question {
      padding-top: 5%;
  }

  .time{
    font-size: 25px;
    top: 10%;
    left: 75%;
    padding: 10px 35px;
    position: fixed;
  }

}

@media (max-width:768px) {

  .membership-exam {
    margin: 12% 0 0 20%;
  }

  .loading{
    margin: 50% 0 0 30%;
  }

  .membership-exam h1 {
    width: fit-content;
  }

  .membership-exam p{
    width: 90%;
  }

  .question {
    padding-left: 26%;
    padding-right: 5%;
  }

  .question h2{
    margin: 15% 0 1% 0;
  }


  .button-exam {
    margin-left: 65%;
  }

  .margin-left-btn-exam{
    margin-left: 65%;
  }

  .time{
    font-size: 25px;
    top: 8%;
    left: 75%;
    padding: 10px 35px;
    position: fixed;
  }

}

@media (max-width:425px) {

  .question h2 {
    font-size: 32px;
  }

  .membership-exam {
    margin: 19% 5%;
  }

  .time{
    font-size: 21px;
    top: 12%;
    left: 70%;
    padding: 5px 20px;
    position: fixed;
  }


  .question{
    padding: 8% 5% 0 5%;
  }

  .view-results{
    margin-left: 55%;
  }
  
  .loading{
    margin: 70% 0 0 20%;
    font-size: 18px;
    width: 300px;
}

  .loader-main-menu {
      border: 5px solid #d6d6d6;
      border-radius: 50%;
      border-top: 5px solid#46b54c;
      width: 25px;
      height: 25px;
      animation: spin 1s linear infinite;
      -webkit-animation: spin 1s linear infinite;
  }

  .question h4 {
    margin: 8% 0 2% 0;
  }

  
  .list-unstyled li{
    margin: 2% 0;
  }

}
