
.faq-main{
    width: 100%;
    height: fit-content;
    padding: 1% 20%;
    margin-top: 7%;
}

.faq-main-login{
    width: 100%;
    height: fit-content;
    padding: 2% 20%;
    margin-top: 7%;
}

.faq-main h1{
    color: #3dbf45;
    font-size: 40px;
    margin: 0 0 4% 0;
}

.faq-main-login h1{
    color: #3dbf45;
    font-size: 40px;
    margin: 0 0 4% 0;
}

.faq-main p{
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2%;
}

.faq-main-login p{
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2%;
}

.faq-main p  span{
    color: #f07f0d;
}

.faq-main-login p  span{
    color: #f07f0d;
}

.fa-dropdown{
    background: url(../../asset/img/fa-down.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    display: block;
    width: 2%;
    height: 17%;
    padding: 12px;
    position: absolute;
    right: 5%;
    top: 35%;
}

.accordion {
    position: relative;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px 20% 18px 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 19px;
    transition: 0.4s;
    margin: 1% 0;
    border-radius: 5px;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.panel-block {
    padding: 0 18px;
    display: block;
    background-color: white;
    overflow: hidden;

}

.no-login{
    height: 0;
}

@media (max-width: 768px) {
    .faq-main {
        padding: 1% 10%;
        margin-top: 10%;
    }
    .faq-main-login {
        padding: 2% 10%;
        margin-top: 10%;
    }
}

@media (max-width: 425px) {

    .accordion {
        position: relative;
        padding: 12px 20% 12px 12px;
    }

    .fa-dropdown{
        right: 5%;
        top: 35%;
    }

    .faq-main h1 {
        font-size: 32px;
    }
    .faq-main {
        padding: 1% 6%;
        margin-top: 20%;
    }
    .faq-main p {
        font-size: 18px;
    }

    .faq-main-login h1 {
        font-size: 32px;
    }
    .faq-main-login {
        padding: 2% 6%;
        margin-top: 20%;
    }
    .faq-main-login p {
        font-size: 18px;
    }

}